[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-spectacular = "*"
pytest = "*"
pytest-django = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
pytest-django = "*"

[requires]
python_version = "3.13"
